@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html {
        @apply bg-white;
        @apply font-text;
        font-size: clamp(1em, 0.2083vw + 0.9437em, 1.0625em);
        scroll-behavior: smooth;
    }

    .container {
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    @media screen and (min-width: 768px) {
        .container {
            width: 750px;
        }
    }

    /* medium */
    @media screen and (min-width: 992px) {
        .container {
            width: 970px;
        }
    }

    /* large */
    @media screen and (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }

    .homepage-section {
        min-height: calc(100vh - 106px);
    }

    .homepage-header {
        background-image: url("../public/assets/images/homepage-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        background-attachment: fixed;
    }

    .section-loginpage {
        background-image: url("../public/assets/images/homepage-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        background-attachment: fixed;
    }

    .city h3 {
        transition: color 0.2s;
    }

    .city img {
        transition: all 0.2s ease-in;
    }

    .city:hover img {
        width: 100%;
    }

    .city:hover h3 {
        @apply text-white;
        @apply bg-black;
        @apply px-2 rounded-md;
    }

    .cityCard {
        position: relative;
        overflow: hidden;
    }

    .country::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 0;
        @apply rounded-md;
    }
}
